/* https://colorhunt.co/palette/6f38c587a2fbadddd0eeeeee */

body {
	padding-top: 90px;
}

header {
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding: 30px 50px;
	background-color: #6F38C5;
}

.title {
	background-color: rgba(255,255,255,.8);
	padding-left: 50px;
	width: 100%;
	height: 110px;
	margin: 0 50px;
	color: black;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 0.8em;
	display: flex;
	align-items: center;
}

.title > h1 {
	font-size: 24px;
}

.LastEditedDate {
	font-size:12px;
}

.logo {
	zoom: 3;
	filter: drop-shadow(0 1px .5px rgba(0,0,0,.2));
}

#cover {
	position: absolute;
	left: 0; bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	animation: cov 0.5s 1 cubic-bezier(0.6, 0, 1.0, 1.0);
	animation-delay:0.4s;
	animation-fill-mode:forwards;
	background-color: white;
}

@keyframes cov {
	to {
		height: 0%;
	}
}
